<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CoinPesa Failed</title><link rel="icon"
          type="image/png"
          href="{% static "brown/assets/img/icons8-bitcoin-48.png" %}">
    <link rel="stylesheet" href={% static "brown/assets/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href={% static "brown/assets/fonts/fontawesome-all.min.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/fonts/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/fonts/ionicons.min.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/fonts/fontawesome5-overrides.min.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Features-Clean.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Footer-Clean.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Login-Form-Clean.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Navigation-Clean.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Sidebar-1.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Sidebar.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/styles.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Table-With-Search-1.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/Table-With-Search.css" %}>
    <link rel="stylesheet" href={% static "brown/assets/css/cryptofont.min.css" %}>
</head>
<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('t7fpbi9wbznu');
</script>
<!-- End of Async Drift Code -->

<body style="background-color: #dee2e6;">
    <section id="background-section">
     <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container"><a class="navbar-brand" href="{% url 'home' %}"></a><button data-toggle="collapse" class="navbar-toggler custom-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item dropdown" id="dropdown-love"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="{% url 'orders:buy_order'  %}" style="color: #ffffff;">Buy</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'orders:buy_order' %}"><i class="cf cf-btc"></i>Bitcoin</a><a class="dropdown-item" role="presentation" href="{% url 'orders:buy_eth_order'  %}"><i class="cf cf-eth"></i>Etherium</a><a class="dropdown-item" role="presentation"
                                    href="{% url 'orders:buy_ltc_order' %}"><i class="cf cf-ltc"></i>Litecoin</a></div>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link" id="sell-link" href="{% url 'orders:sell_order'  %}" style="color: #ffffff;">Sell</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation">
                            <span><a href="{% url 'orders:Orders'  %}" class="btn btn-primary btn-sm rounded" role="button" id="sign-up-btn" style="padding-right: 20px;padding-bottom: 4px;padding-top: 4px;padding-left: 20px;">Account</a>
                                  <a href="{% url 'account_logout'  %}" class="btn btn-primary btn-sm rounded" role="button" id="log-in-btn" style="padding-right: 20px;padding-left: 20px;">Log Out</a>
                            </span>
                        </li>
                        {% else %}

                        <li class="nav-item" role="presentation">
                            <span><a   href="{% url 'account_signup' %}" class="btn btn-primary btn-sm rounded" role="button" id="sign-up-btn" style="padding-right: 20px;padding-bottom: 4px;padding-top: 4px;padding-left: 20px;">Sign Up</a>
                                  <a  href="{% url 'account_login' %}" class="btn btn-primary btn-sm rounded" role="button" id="log-in-btn" style="padding-right: 20px;padding-left: 20px;">Log In</a>
                            </span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
</section>
    <div>
        <div class="container" style="height: 100vh;">
            <div class="row mt-5">
                <div class="col">
                    <div class="row justify-content-center">
                        <div class="col-sm-auto col-md-auto col-lg-auto col-xl-auto text-center order-sm-1 order-md-1 order-lg-1 order-xl-1 border" style="background-color: #ffffff;width: 265px;"><img class="img-fluid d-none d-md-block" src="{% static 'brown/assets/img/icons8-cancel-623.png' %}" style="background-color: #ffffff;" loading="auto"></div>
                        <div class="col-sm-12 col-md-auto col-lg-4 col-xl-4 text-center order-sm-2 order-md-1 order-lg-1 order-xl-1 border"
                            style="background-color: #ffffff;">
                            <h3 class="pt-3">Sorry</h3>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <p class="text-left">Your Payment Attempt was Unsuccesful</p>
                                    <p class="text-left">order reference :BTC32115536</p>
                                    <p class="text-left">order amount :BTC32115536</p><button class="btn btn-primary" type="button">Pay Again&nbsp;</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src={% static "brown/assets/js/jquery.min.js" %}></script>
<script src={% static "brown/assets/bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "brown/assets/js/Faq-by-pomdre.js" %}></script>
<script src={% static "brown/assets/js/Table-With-Search.js" %}></script>
</body>

</html>